html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}
i, button, input {
    margin: 3px;
}
p {
    margin: 0;
}
img {
    max-height: 500px;
    max-width: 100%;
    margin: 5px;
}
textarea {
    resize: none;
}
label {
    font-weight: bold;
}
article {
    padding: 30px;
    width: 75%;
}
aside{
    z-index: 99 !important;
    position: fixed;
    right: 0;
    padding: 30px;
    width: 20%;
    min-width: 280px;
}
.profile-container {
    padding: 5px;
    border:1px solid #DDDDDD;
    border-radius:10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    background-color: F6F6F6;
}
.profile-container a {
    margin: 3px;
    float: left;
}
.profile-container button {
    float: right;
}
footer {
    height: 150px;
    position:absolute;
    bottom:0;
    width:100%;
}
footer, header .navbar {
    background-color: F6F6F6;
}
footer .link {
    cursor: pointer;
    color: gray;
}
footer .link:hover{
    color: black;
}
footer .copyright {
    background-color: A4A4A4;
    color: gray;
}
footer .copyright a {
    color: black;
}
.wrap {
    min-height: 100%;
    position: relative;
    padding-bottom: 150px;
}
.user-info {
    display: block;
}
.user-info > * {
    float: right;
    margin: 10px;
}
.item-list {
    width: 100%;
}
.login-container {
    margin:auto;
}
.login-jumbo {
    padding-top:20px;
    padding-bottom:20px;
}
.signup-container {
    margin:auto;
}
.signup-jumbo {
    padding:20px 10px 20px 10px;
}
.upload-form {
    width: 100%;
}
.hidden-form-group {
    display: none;
}
.account-form .form-group {
    float: left;
    width: 45%;
    margin: 10px;
}
.custom-file {
    margin-top: 10px;
    margin-bottom: 10px;
}
.fa-arrow-down {
    position: relative;
    animation-duration: 2s;
    animation-name: updown;
    animation-iteration-count: infinite;
}
@keyframes updown {
    0%   {top:0px;}
    50%  {top:25px;}
    100% {top:0px;}
}
.half {
    width: 50%;
    float: left;
    padding-right: 10px;
}
.item-tr {
    cursor: pointer;
}
.page-title {
    margin-bottom: 20px;
}
.pagination-nav {
    text-align: center;
}
.pagination {
    display: inline-block;
}
.page-item {
    float: left;
}
