html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}
i, button {
    margin: 3px;
}
textarea {
    resize: none;
}
label {
    font-weight: bold;
}
article {
    padding: 30px;
    width: 75%;
}
aside{
    z-index: 99 !important;
    position: fixed;
    right: 0;
    padding: 30px;
    width: 20%;
    min-width: 280px;
}
.profile-container {
    padding: 5px;
    border:1px solid #DDDDDD;
    border-radius:10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    background-color: F6F6F6;
}
.profile-container a {
    margin: 3px;
    float: left;
}
.profile-container button {
    float: right;
}
footer {
    position:absolute;
    bottom:0;
    width:100%;
}
footer, header .navbar {
    background-color: F6F6F6;
}
footer .link {
    cursor: pointer;
    color: gray;
}
footer .link:hover{
    color: black;
}
footer .copyright {
    background-color: A4A4A4;
    color: gray;
}
footer .copyright a {
    color: black;
}
.wrap {
    min-height: 100%;
    position: relative;
    padding-bottom: 200px;
}
.user-info {
    display: block;
}
.user-info > * {
    float: right;
    margin: 10px;
}
.item-list {
    width: 100%;
}
.login-container {
    margin:auto;
}
.login-jumbo {
    padding-top:20px;
}
.upload-form {
    width: 100%;
}
.hidden-form-group {
    display: none;
}
