html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}
article {
    padding: 30px;
    width: 100%;
}
aside{
    position: fixed;
    right: 0;
    padding: 30px;
    width: 20%;
}
footer {
    position:absolute;
    bottom:0;
    width:100%;
}
footer, header .navbar {
    background-color: F6F6F6;
}
footer .link {
    cursor: pointer;
    color: gray;
}
footer .link:hover{
    color: black;
}
footer .copyright {
    background-color: A4A4A4;
    color: gray;
}
footer .copyright a {
    color: black;
}
.wrap {
    min-height: 100%;
    position: relative;
    padding-bottom: 200px;
}
.user-info {
    display: block;
}
.user-info > * {
    float: right;
    margin: 10px;
}
.item-list {
    width: 80%;
}
.login-container {
    margin:auto;
}
.login-jumbo {
    padding-top:20px;
}
