footer, header .navbar {
    background-color: F6F6F6;
}
footer .copyright {
    background-color: A4A4A4;
}
.user-info {
    display: block;
}
.user-info > * {
    float: right;
    margin: 10px;
}
.item-list {
    width: 80%;
}
